---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <div class="flex flex-col gap-y-4">
    <header class="flex flex-col gap-y-1 border-b border-gray-200 py-4">
      <h1 class="text-s">{post.data.title}</h1>
      <p class="text-sm text-gray-500 m-0">
        {
          post.data.pubDate.toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </p>
      <p class="text-gray-500">{post.data.tags.join(", ")}</p>
    </header>
    <main>
      <Content />
    </main>
  </div>
</Layout>
