---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TagsList from "../../components/TagsList.astro";
import PostListItem from "../../components/PostListItem.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.flatMap((post) => post.data.tags || [])),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { posts } = Astro.props;
---

<Layout title="Tags">
  <section class="flex gap-2 py-4">
    <TagsList />
  </section>
  <ul class="flex flex-col gap-4 mt-4">
    {posts.map((post) => <PostListItem post={post} />)}
  </ul>
</Layout>
