---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
console.log(allBlogPosts);
allBlogPosts.map((post: any) => {
  console.log(post.data.tags);
});
---

<Layout title="Blog">
  <ul>
    {
      allBlogPosts.map((post: any) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
          <p>{post.data.pubDate.toLocaleDateString()}</p>
          <p>{post.data.tags.join(", ")}</p>
        </li>
      ))
    }
  </ul>
</Layout>
