---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import TagsList from "../components/TagsList.astro";

const allBlogPosts = await getCollection("blog");
---

<Layout title="Blog">
  <TagsList />
  <ul class="flex flex-col gap-4">
    {
      allBlogPosts.map((post: any) => (
        <li class="border-b border-gray-400 py-4">
          <div class="flex gap-2">
            <p>
              {new Date(post.data.pubDate).toLocaleDateString("en-US", {
                month: "long",
                year: "numeric",
              })}
            </p>
            <a class="undeline text-black" href={`/posts/${post.id}`}>
              {post.data.title}
            </a>
          </div>
          <ul class="flex gap-2">
            {post.data.tags.map((tag: string) => (
              <li>
                <a class=" text-gray-400" href={`/tags/${tag}`}>
                  {tag}
                </a>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>
