---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePicture from "../assets/profile-picture.jpg";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const lastUpdated = new Date("2025-04-06");
---

<Layout title="Home">
  <main>
    <!-- <div class="flex justify-center mb-4">
      <Image
        src={profilePicture}
        alt="A photo of me"
        width={1600}
        height={1200}
        loading="lazy"
      />
    </div> -->
    <section class="flex flex-col gap-4">
      <p>
        Hi, I'm a Hien, a front-end developer based in Melbourne. I'm curious
        about code, design, and creative technologies.
      </p>
      <p>
        On the side, I like <a
          class="underline"
          href="https://photoshien.vercel.app/">photography</a
        >, <a class="underline" href="https://www.strava.com/athletes/57403103"
          >running</a
        > and logging <a href="https://letterboxd.com/hien15/" class="underline"
          >movies</a
        >, <a class="underline" href="https://literal.club/hien">books</a> and <a
          href="https://album-collection-peach.vercel.app/"
          class="underline">albums</a
        > and I've been a volunteer of the Altona North Coder Dojo code club community
        since 2022.
      </p>

      <p>
        This website is always evolving and was built to document my interests
        and hobbies. It was last updated on <time
          datetime={lastUpdated.toISOString()}
          >{lastUpdated.toLocaleDateString()}</time
        >.
      </p>
      <section class="flex flex-col mt-2 border-t border-gray-300">
        <ul class="flex flex-row gap-4 text-sm flex-wrap py-4">
          <li>
            <a href="mailto:hiennguyen1529@gamil.com" class="underline">Email</a
            >
          </li>
          <li>
            <a href="https://github.com/hiennguyen06" class="underline"
              >GitHub</a
            >
          </li>
          <li>
            <a href="https://codepen.io/hiennguyen1" class="underline"
              >CodePen</a
            >
          </li>
          <li>
            <a
              href="https://www.are.na/hien-nguyen-z6srhz6468s/channels"
              class="underline">Are.na</a
            >
          </li>
          <li>
            <a
              href="https://bsky.app/profile/hienmn.bsky.social"
              class="underline">Bluesky</a
            >
          </li>
        </ul>
      </section>
    </section>
  </main>
</Layout>
