---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const featuredProjects = projects.filter((project) => project.data.selected);
---

<Layout title="Home">
  <main class="flex flex-col gap-2">
    <section class="flex flex-col gap-4 pb-4">
      <img
        src="/profile-picture.webp"
        alt="Hien Nguyen"
        class="w-full aspect-video object-cover"
      />
      <p>
        Hi, I'm Hien, a front-end developer based in Melbourne. I'm interested
        in code, design, and creative technologies.
      </p>
      <p>
        In my free time, I'm taking <a
          class="underline"
          href="https://photoshien.vercel.app/">photos</a
        >, <a class="underline" href="https://www.strava.com/athletes/57403103"
          >running</a
        > and logging <a href="https://letterboxd.com/hien15/" class="underline"
          >movies</a
        >, <a class="underline" href="https://literal.club/hien">books</a> and <a
          href="https://album-collection-peach.vercel.app/"
          class="underline">albums</a
        >. I've also been a volunteer at the <a
          href="https://altonanorthdojo.com/"
          class="underline">CoderDojo Altona North</a
        > coding club since 2022.
      </p>

      <p>Currently learning Blender and Three.js.</p>
    </section>

    <hr class="border-gray-200" />

    <section class="flex flex-col gap-4 py-4">
      <h2 class="text-md font-bold">Selected Projects</h2>
      <ul class="flex flex-col gap-4 text-m flex-wrap">
        {
          featuredProjects.map((project) => (
            <li>
              <a href={project.data.url} class="underline">
                {project.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <hr class="border-gray-200" />
    <section class="flex flex-col py-4">
      <ul class="flex flex-row gap-4 text-m flex-wrap">
        <li>
          <a href="mailto:hiennguyen1529@gamil.com" class="underline">Email</a>
        </li>
        <li>
          <a href="https://github.com/hiennguyen06" class="underline">GitHub</a>
        </li>
        <li>
          <a href="https://codepen.io/hiennguyen1" class="underline">CodePen</a>
        </li>
        <li>
          <a
            href="https://www.are.na/hien-nguyen-z6srhz6468s/channels"
            class="underline">Are.na</a
          >
        </li>
        <li>
          <a
            href="https://bsky.app/profile/hienmn.bsky.social"
            class="underline">Bluesky</a
          >
        </li>
      </ul>
    </section>
  </main>
</Layout>
