---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Uses">
  <main class="flex flex-col gap-4">
    <p>Tools and tech I use daily.</p>

    <section class="flex flex-col gap-8">
      <div class="flex flex-col gap-0.5">
        <h2 class="text-md font-bold">Development</h2>
        <ul>
          <li>TypeScript</li>
          <li>Tailwind CSS</li>
          <li>React</li>
          <li>Three.js</li>
          <li>p5.js</li>
          <li>Astro</li>
          <li>Next.js</li>
          <li>Vite</li>
        </ul>
      </div>
      <div class="flex flex-col gap-0.5">
        <h2 class="text-md font-bold">What's on my desk</h2>
        <ul>
          <li>Macbook Pro 14" M1 Pro</li>
          <li>iPhone 12 Mini</li>
          <li>iPad Pro 11" M1</li>
          <li>Airpods 4</li>
          <li>Bose QC35 II</li>
          <li>Keychron K2</li>
        </ul>
      </div>

      <div class="flex flex-col gap-0.5">
        <h2 class="text-md font-bold">What's on my desktop</h2>
        <ul>
          <li>Arc Browser</li>
          <li>Cursor</li>
          <li>Figma</li>
          <li>Raycast</li>
          <li>Obsidian</li>
          <li>Dropover</li>
          <li>Blender</li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
