---
interface Props {
  href: string;
  title: string;
  attributes?: Record<string, string>;
}

const { href, title, ...attributes }: Props = Astro.props;
const currentPath = Astro.url.pathname.replace(/\/$/, "");
const linkPath = href.replace(/\/$/, "");
const isLinkActive = currentPath === linkPath;
---

<a
  href={href}
  {...attributes}
  class={`text-md ${isLinkActive ? "font-bold" : "font-normal"} text-black `}
>
  {title}
</a>
