---
interface Props {
  href: string;
  title: string;
  attributes?: Record<string, string>;
}

const { href, title, ...attributes }: Props = Astro.props;
---

<a href={href} {...attributes} class="text-xl">
  {title}
</a>
