---
interface Props {
  href: string;
  title: string;
  attributes?: Record<string, string>;
}

const { href, title, ...attributes }: Props = Astro.props;
const isLinkActive = Astro.url.pathname === href;
---

<a
  href={href}
  {...attributes}
  class={`text-lg ${isLinkActive ? "underline text-black" : "text-gray-500"} `}
>
  {title}
</a>
