---
import Link from "./Link.astro";
---

<nav class="pt-8 pb-8">
  <ul class="flex flex-wrap justify-center gap-8">
    <li>
      <Link href="/" title="Home" />
    </li>
    <li>
      <Link href="/work" title="Projects" />
    </li>
    <li>
      <Link href="/writing" title="Writing" />
    </li>
  </ul>
</nav>
