---
import Link from "./Link.astro";
---

<nav class="pt-8 pb-8 max-md:pt-4">
  <ul class="flex flex-wrap gap-8">
    <li>
      <Link href="/" title="Home" />
    </li>
    <li>
      <Link href="/projects" title="Projects" />
    </li>
    <li>
      <Link href="/writing" title="Writing" />
    </li>
  </ul>
</nav>
