---
import Link from "./Link.astro";
---

<nav class="flex justify-center items-center py-8">
  <ul class="flex gap-8">
    <li>
      <Link href="/" title="Home" />
    </li>
    <li>
      <Link href="/work" title="Work" />
    </li>
    <li>
      <Link href="/blog" title="Blog" />
    </li>
  </ul>
</nav>
