---
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
const tags = [...new Set(allBlogPosts.map((post) => post.data.tags).flat())];
const isActive = (tag: string) => Astro.params.tag === tag;
---

<div class="flex gap-2 py-4">
  <span class="text-black">Tags:</span>
  <ul class="flex justify-center gap-2">
    {
      tags.map((tag) => (
        <li>
          <a
            class={`hover:underline ${isActive(tag) ? "underline text-black" : "text-gray-500"} `}
            href={`/tags/${tag}`}
          >
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</div>
